@font-face {
    font-family: dec-3;
    src: url(dec-3.ttf);
  }

body {
    background-color: #FFFF95;
}

.title {
    text-align: center;
    font-family: dec-3;
    color: #ffa6b3;
    font-size: 1.2rem;
}

.text {
    padding-top: 2vw;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: dec-3;
    color: #ffa6b3;
    font-size: .7rem;
}

.return {
    padding-top: 14vw;
    text-align: center;
    font-family: dec-3;
    color: #ffa6b3;
    font-size: .6rem;
    text-decoration: none;
}

#returnlink {
    padding-top: 20vw;
    color:#FFFF95;
    text-decoration: none;
    background-color: skyblue;
    padding: 14px 25px;
}

#paragraph2 {
    padding-top: 3vw;
}

.button {
    text-align: center;
    position: relative;
}

.email {
        font-family: dec-3;
        color: #FFFF95;
        text-align: center;
        padding: 2%;
}

a:link, a:visited {
    background-color:  #ffa6b3;
    color: #FFFF95;
    padding: 2%;
  }

.accordion {
    background-color: #ffa6b3;
    color: #FFFF95;
    font-family: dec-3;
    cursor: pointer;
    padding: 2%;
    border: none;
    text-align: left;
    outline: none;
    font-size: .8rem;
    transition: 0.3s;
    text-align: center;
}

.active, .accordion:hover {
    background-color: #ffa6b3;
  }
  
.panel {
    font-family: dec-3;
    font-size: .8rem;
    background-color: #ffa6b3;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    margin: auto;
  }

#header-link {
    color: #FFFF95;
}
