@media screen and (min-width: 768px) {

    .text{
        width: 30%;
    }

    .return {
        padding-top: 4vw;
    }

    #paragraph2 {
        padding-top: 2vw;
         }


   .button {
    text-align: center;
    position: relative;
}

.accordion {
  background-color: skyblue;
  color: #FFFF95;
  font-family: dec-3;
  cursor: pointer;
  padding: 1%;
  border: none;
  text-align: left;
  outline: none;
  font-size: .8rem;
  transition: 0.3s;
  text-align: center;
}

.active, .accordion:hover {
  background-color: skyblue
}

    .panel {
        font-family: dec-3;
        font-size: .8rem;
        background-color: #ffa6b3;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        width: 100%;
          }
}

