@font-face {
    font-family: dec-3;
    src: url(dec-3.ttf);
  }
body {
    background-color: black;
}

a:link, a:visited {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
  }

.button {
    text-align: center;
    position: relative;
}

.accordion {
  background-color: white;
  color: black;
  font-family: dec-3;
  cursor: pointer;
  padding: 4%;
  border: none;
  text-align: left;
  outline: none;
  font-size: .8rem;
  transition: 0.3s;
  text-align: center;
}

.active, .accordion:hover {
  background-color: white;
}

.panel {
  font-family: dec-3;
  font-size: .8rem;
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  margin: auto;
}
