@media screen and (min-width: 768px) {
    .accordion {
        padding: 1%;  
      }

      .images {
        display: flex;
        flex-wrap: wrap;
    }

    .imagecolumns {
        flex: 25%;
        max-width: 25%;
    }

    p.imagetext {
        display: none;
      }
      
      p.imagetext-desktop {
        display: block;
        font-family: dec-3;
        font-size: .5rem;
    
      }