@font-face {
    font-family: dec-3;
    src: url(dec-3.ttf);
  }

body {
    background-color: #78f17c
}

a:link, a:visited {
    background-color:  #FFFF95;
    color: #78f17c;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
  }
  
.title {
    font-family: dec-3;
    color: #FFFF95;
    text-align: center;
    font-size: 170%;
    padding: 8vw;
    margin: 0px;
}

.text {
    font-family: dec-3;
    color: #FFFF95;
    text-align: center;
    font-size: .8rem;
    padding-bottom: 12vw;
}

.email {
    font-family: dec-3;
    color: #FFFF95;
    text-align: center;
    font-size: .8rem;
}


.button {
    text-align: center;
    position: relative;
}

.accordion {
  background-color: #ffa6b3;
  color: #FFFF95;
  font-family: dec-3;
  cursor: pointer;
  padding: 4%;
  border: none;
  text-align: left;
  outline: none;
  font-size: .8rem;
  transition: 0.3s;
  text-align: center;
}

.active, .accordion:hover {
  background-color: #ffa6b3;
}

.panel {
  font-family: dec-3;
  font-size: .8rem;
  background-color: #FFFF95;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  margin: auto;
}
