@media screen and (min-width: 768px) {
    .accordion {
        padding: 1%;  
      }

      
#art-links:link, #art-links:visited {
    text-decoration: none;
    color: black;
}

    #art-links:hover, #art-links:active {
        background-color: black;
        color:white;
        padding-top: 0px;
        padding-left: .3vw;
        padding-bottom: .2vw;
        padding-right: .1vw;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
    }

    .imagecolumn {
        flex: 25%;
        max-width: 25%;
    }


    p.imagetext {
        font-family: dec-3;
        font-size: .3rem;
        padding-bottom: 2.5vw;
        padding-top: 1vw;
    }

    img {
    }

}

