@font-face {
    font-family: dec-3;
    src: url(dec-3.ttf);
  }

/* Menu */

#header-link:hover, #header:active {
  background-color: #ffa6b3;
  color: black;
  padding: 1px;
}

#header-link:link, #header-link:visited {
  background-color: #ffa6b3;
  color: white;
  text-align: center;
  text-decoration: none;
}    

.button {
  text-align: center;
  position: relative;
}

.accordion {
background-color: #ffa6b3;
color: #FFFF95;
font-family: dec-3;
cursor: pointer;
padding:  14px 25px;
border: none;
text-align: left;
outline: none;
font-size: .8rem;
text-align: center;
}



.accordion:hover {
background-color: skyblue;
}

.panel {
font-family: dec-3;
font-size: .73rem;
background-color: #ffa6b3;
max-height: 0px;
overflow: hidden;
width: 90%;
margin: auto;
}

/* /Menu */


body {
  background-color: #ffa6b3;
  position: relative;
}

.containers {
  text-align: center;
  font-family: dec-3;
  color: #FFFF95;
  font-size: 75%;
}

.about {
  position: absolute;
  top: 2rem;
  left: 0px;
  right: 0px;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  position: absolute;
  bottom: 2rem;
  right: 0px;
  left: 0px;
}

a:link, a:visited {
  background-color: #ffa6b3;
  color: #FFFF95;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: skyblue;
}