@font-face {
    font-family: dec-3;
    src: url(dec-3.ttf);
  }

body {
    background: skyblue;
}

.header {
    font-family: dec-3;
    font-size: 50%;
}

.title {
    font-family: dec-3;
    color: #FFFF95;
    text-align: center;
    font-size: 190%;
    margin: 0px;
}

a:link, a:visited {
    background-color:  #FFFF95;
    color: skyblue;
    text-align: center;
    text-decoration: none;
  }
  
a:hover, a:active {
    background-color: #ffa6b3;
    padding: 2vw;
  }

iframe {
  border: 0;
  width: 40vw;
  height: 40vw;
}



.button {
      text-align: center;
      position: relative;
  }

.accordion {
    background-color: #ffa6b3;
    color: #FFFF95;
    font-family: dec-3;
    cursor: pointer;
    padding: 4%;
    border: none;
    text-align: left;
    outline: none;
    font-size: .8rem;
    transition: 0.3s;
  }

.active, .accordion:hover {
    background-color: #ffa6b3;
  }
  
.panel {
    font-family: dec-3;
    font-size: .8rem;
    background-color: #FFFF95;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 80%;
    margin: auto;
  }

