@font-face {
    font-family: dec-3;
    src: url(dec-3.ttf);
  }
body {
    background-color: #FFFF95;
}


/* Menu */

#header-link:hover, #header:active {
    background-color: skyblue;
    color: #FFFF95;
    padding: 1px;
}

#header-link:link, #header-link:visited {
    background-color: skyblue;
    color:#FFFF95;
    text-align: center;
    text-decoration: none;
}    

.button {
    text-align: center;
    position: relative;
}

.accordion {
  background-color:skyblue;
  color:#FFFF95;
  font-family: dec-3;
  cursor: pointer;
  padding: 4%;
  border: none;
  text-align: left;
  outline: none;
  font-size: .8rem;
  transition: 0.3s;
  text-align: center;
}

.active, .accordion:hover {
  background-color: skyblue;
}

.panel {
  font-family: dec-3;
  font-size: .8rem;
  background-color:skyblue;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  margin: auto;
}

/* /Menu */

/* Title */
.title {
    font-family: dec-3;
    color: #FFFF95;
    text-align: center;
    font-size: .8rem;
    margin: 0px;

}
/* /Title */

.services {

    width: 80%;
    margin: auto;
    font-family: dec-3;
    color: skyblue;
    font-size: .8rem;
}

#contact {
  background-color: skyblue;
  color: #FFFF95;
  padding: 1vh;
  text-decoration: none;
}

.prices {
  font-size: .6rem;
}

.ecwid div, .ecwid span, .ecwid a, .ecwid p {
  color: skyblue !important;
  }

/*Button color*/
.ec-size .ec-store .details-product-purchase__add-buttons .form-control__button {
  background: skyblue;
  }

/*Change font size*/
.ec-size .ec-store .grid-product__price { 
  font-size: 1rem !important; 
  }

  .ecwid div, .ecwid span, .ecwid a, .ecwid p {
    font-family: dec-3!important;
    }

    /*Change font size*/
.ec-size .ec-store .grid-product__price { 
  font-size: 1ch !important; 
  }

  /*Product price on catalog page*/
/*Change font color*/
.ec-size .ec-store .grid-product__price-amount {
  color: skyblue;
  }


/*Button color*/
.ec-size .ec-store .details-product-purchase__add-buttons .form-control__button {
  background: #FFA500;
  }



 /*Buy Now Button color*/
.ec-size .ec-store .grid-product__buy-now .form-control__button { 
  background: #FFFAFA;
  color: #000000; 
}